body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f8ff; /* Ubah warna background ke biru muda */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea, input[type="text"] {
    width: calc(100% - 12px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #4169e1; /* Ubah warna tombol ke biru tua */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6495ed; /* Ubah warna saat hover untuk efek interaktif */
}

#outputText {
    height: 100px;
}
